:root {
  --bg-color-white: #ffffff;
  --foreground: #080808;
  --bg-color-black: #0a0a0a;
  --second-bg-color: #131313;
  --largura-padrao: 1400px;
  --cor-principal: rgba(127, 44, 206, 0.863);
  --font-principal: Verdana, Geneva, Tahoma, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color-black);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
