.container-education {
    padding: 50px 15px;
    background-color: var(--bg-color-black);
    
}

.educacao {
    text-align: center;
    font-size: 2.5em;
    padding-top: 100px;
    padding-bottom: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timeline-itens {
    width: 100%;
    max-width: var(--largura-padrao);
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    position: relative;
}

.timeline-itens::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--cor-principal);
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}


.timeline-item:last-child {
    margin-bottom: 0;
}


.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    margin-bottom: 150px;
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
    margin-bottom: 150px;
}

.timeline-linha {
    height: 21px;
    width: 21px;
    background-color: var(--cor-principal);
    box-shadow: 0 0 25px var(--cor-principal)
                0 0 50px var(--cor-principal);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}


.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.timeline-content {
    background-color: var(--bg-color-black);
    border: 3px solid var(--cor-principal);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--cor-principal);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--cor-principal);
}


.timeline-content h3 {
    font-size: 20px;
    color: white;
    margin:10px 0;
    font-weight: 500;
}


.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-principal);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color-black);
    width: 50px;
}



@media (max-width: 950px) {
    .timeline-item:nth-child(odd) {
        padding: 0 40px;
        text-align: left;
    }

    .timeline-item:nth-child(even) {
        padding: 0 40px;
    }


    .timeline-linha {
        left: calc(3% - 8.5px);
    }


    .timeline-itens::before {
        left: calc(3% - 1px);
    }

    .timeline-content {
        padding: 30px 25px;
        margin-left: 10px;
    }

}