.containerSection {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    & div {
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        & p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 25px;

        }

        & .h2Name {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 45px;

        }

        & .efeito {
            
        }
        
        }


    & nav {        

        & ul {
            display: flex;
            gap: 30px;

            & .lista-section {
                position: relative;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                transition: .3s ease-in-out;

                & a {

                    & .linkedin-icon, .github-icon, .insta-icon {
                        font-size: 35px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;

                    }

                    & .linkedin-icon:hover, .github-icon:hover, .insta-icon:hover {
                        
                        
                        
                    }

                    & .linkedin-icon, .github-icon, .insta-icon {

                    }

                    & img {
                        

                    }
                }

            }
            & .lista-section:hover {
                background-color: var(--cor-principal);
                transform: scale(1.5);
                
                box-shadow: 0 0 20px var(--cor-principal);
            }
        }
    }

    
}



.containerSection.light {
    background-color: var(--tema-claro-bg1);
    
    & div {
        
        & p {
            color: var(--tema-claro-fonte);

        }

        & .h2Name {
            color: var(--tema-claro-fonte);

        }

        & .efeito {
            
        }
        
        }


    & nav {        

        & ul {
            

            & .lista-section {
                

                & a {

                    & .linkedin-icon, .github-icon, .insta-icon {
                        color: var(--tema-claro-fonte);

                    }

                    & .linkedin-icon:hover, .github-icon:hover, .insta-icon:hover {
                        
                        
                        
                    }

                    & .linkedin-icon, .github-icon, .insta-icon {

                    }

                    & img {
                        

                    }
                }

            }
            & .lista-section:hover {
                background-color: var(--cor-principal);
                
                cursor: pointer;
               
            }
        }
    }

    
}


@media (max-width: 700px) {
    .containerSection {
        
        
        & div {
            
            & p {
                font-size: 15px;
    
            }
    
            & .h2Name {
                font-size: 25px;
    
            }
    
            & .efeito {
                
            }
            
            }
    
    
        & nav {        
    
            & ul {
                
    
                & .lista-section {
    
    
                    & a {
    
                        & img {
                            
    
                        }
                    }
                }
            }
        }
    
        
    }
}


@media (max-width: 500px) {
    @media (max-width: 700px) {
        .containerSection {
            
            
            & div {
                
                & p {
                    font-size: 15px;
        
                }
        
                & .h2Name {
                    font-size: 20px;
        
                }
        
                & .efeito {
                    
                }
                
                }
        
        
            & nav {        
        
                & ul {
                    
        
                    & .lista-section {
        
        
                        & a {
        
                            & img {
                                
        
                            }
                        }
                    }
                }
            }
        
            
        }
    }
}