.container {
    height: 100vh;

    & h2 {
        text-align: center;
        margin: 100px 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    & .section-sobre {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 0px 15px;
        gap: 40px;
        border: 1px solid rosybrown;

        & div {
            border: 1px solid blue;
            display: flex;
            background-image: url("/images/michel4.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 400px;
            width: 400px;
            justify-content: flex-end;

            & img {
                width: 30%;
                border-radius: 10%
                
            }
            
        }
        & article {
            border: 1px solid red;
            width: 50%;

            & p {
                line-height: 24px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin-bottom: 20px;
                font-size: 20px;

                & span {
                    color: rgba(127, 44, 206, 0.863);
                    border-bottom: 2px solid rgba(127, 44, 206, 0.863);
                }
            }
        }
    }
}